.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.home-header{
  margin-top: 63px;
  background-color: #282c34;
  min-height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  color: rgb(231, 231, 231);
  background:url(https://blog.mesa247.pe/wp-content/uploads/2016/09/Captura-de-pantalla-2016-09-25-a-las-18.57.28.png);
  background-color: rgb(65, 62, 62);
  font-size: 30px;
  border-bottom: 3px solid;
}

.main-nav{
padding: 1rem;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
width: 100%;
background: rgb(177, 15, 15);
position: fixed;
}

main{
  min-height: 100vh;
}

.fa-pizza-slice{
  color: rgb(241, 144, 16);
  margin-left:50px;
  padding:7px;

}

.fa-cart-shopping{
margin-right: 100px;
color: rgb(255, 255, 255);
}


.main-nav a{
text-decoration: none;
color: white;
font-size: 18px;
}


.menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card{
  width: 25%;
  padding: 1rem;
  height: 40%;
  margin: 10px;
  border: 1px solid rgb(179, 176, 176);
  padding-bottom: 50px;

}

.card.content img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

h4{
margin: auto;
width: 100%;
border-bottom: 1px solid rgb(179, 176, 176);
font-size: 25px;
padding-bottom: 10px;
margin-bottom: 10px;
text-transform: capitalize;
}

img{
width:100%;
object-fit: contain;
align-items: center;
margin-bottom: 10px;
}

.card.content{
  width: 100%;
}

.price{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.btn-primary{
border: none;
border-radius: 5px;
background-color: rgb(177, 15, 15);
height:30px;
width: 80px;
margin:5px;
color: white;
}

.btn-secundary{
  border: none;
  border-radius: 5px;
  background-color: rgb(24, 100, 24);
  height:30px;
  margin: 5px;
  width: 80px;
  color: white;
}

ul{
  list-style: none;
  padding: 10px;
}

.bold{
  font-size: 19px;
font-weight: bolder;
}

footer{
background-color: #b10f0f;
color: white;
height:60px;
font-size: 22px;
padding-top: 15px;
}

.pizza-view h1{
  padding-top: 6rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}